.check{
    height: 34px;
    width: 34px;
    border: 2px solid #000;
    border-radius: 17px;
    background-color: #b41919;
}



.check:checked{
    height: 34px;
    width: 34px;
    border: 2px solid #000;
    border-radius: 17px;
    background-color: #2b2a2a;
}