.buttonMy {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #53737E;
    border-radius: 100px;
    box-sizing: border-box;
    color: #53737E;
    cursor: pointer;
    display: inline-flex;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    justify-content: center;
    line-height: 20px;
    width: 235px;
    height: 40px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.buttonMy:hover,
.buttonMy:focus {
    background-color: #3D4D53;
    color: #ffffff;
}

.buttonMy:active {
    background: #1F2122;
    color: rgb(255, 255, 255, .7);
}

.buttonMy:disabled {
    cursor: not-allowed;
    background-color: #FFFFFF;
    color: #53737E;
}