.module-window {
    position: absolute; /* Абсолютное позиционирование */
    top: 25px; /* Положение от нижнего края */
    right: 30px; /* Положение от правого края */
    z-index: 1;
}

.settings {
    position: absolute;
    top: 25px;
    left: 30px;
    z-index: 1;
}

.settings .settings-item {
    padding-bottom: 20px;
}
